<div data-role="page">

	<div data-role="header" data-theme='e' >
    <h1>Home</h1>
    <%if is_logged_in?%>
      <a href="<%= url_for :controller => :Settings, :action => :logout %>" class="ui-btn-right" data-icon='off'>
         Logout
      </a>
    <%end%>
	</div>

  <div data-role="content">
    <div class="ui-grid-a index-grid">
      <div class="ui-block-a index-a">
        <a href="<%= url_for :action => :show %>" >
          <img src="/public/images/ic_menu_love.png" >
          <span class="icon-label">Start</span>
        </a>
      </div>
      <div class="ui-block-b index-b">
        <a href="<%= url_for :controller => :Settings, :action => :index %>" >
          <img src="/public/images/ic_menu_settings.png" >
          <span class="icon-label">Setting</span>
        </a>
      </div>
      <div class="ui-block-a index-a">
       <a href="<%= url_for :action => :show %>" >
          <img src="/public/images/ic_menu_connection.png">
          <span class="icon-label">Connection</span>
        </a>
      </div>
      <div class="ui-block-b index-b">
        <a href="<%= url_for :action => :graph %>" >
          <img src="/public/images/ic_menu_chart.png" >
          <span class="icon-label">Graph</span>
        </a>
      </div>
    </div>
  </div>

  <div data-position="fixed" data-role="footer" data-theme='e' >
      <h3>Heart Care</h3>
  </div>

  <script type="text/javascript">
     $(document).ready(function(){
        $(".index-a").height((window.innerHeight*0.7)/2);
        $(".index-b").height((window.innerHeight*0.7)/2);
     });
  </script>

</div>
