<div data-role="page">

  <div data-role="header" data-theme='e' data-position="fixed">
    <div class="ui-btn-left back-divider" >
      <a href="<%= url_for :controller => :Home, :action => :index %>" data-direction="reverse">
        <img src="/public/images/back.png"/>
      </a>
    </div>
    <div class="ui-btn-right have-divider">
        <a href="<%=url_for :controller => :Settings, :action => :do_refresh %>">
            <img src="/public/images/reload.png"/>
        </a>
    </div> 
    <h1>Settings</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-inset="true">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>

      <li><a href="<%= url_for :action => :profile %>">Profile</a></li>
      <li><a href="<%= url_for :controller => :User, :action => :add_member %>">Add Member</a></li>
      <li><a href="<%= url_for :action => :reset %>">Reset Database</a></li>
<!--       <li><a href="<%= url_for :action => :do_sync %>">Perform Sync</a></li> -->
      <% if logged_in? %>
          <li><a href="<%= url_for :action => :logout %>">Logout</a></li>
      <% else %>
          <li><a href="<%= url_for :action => :login %>">Login</a></li>
      <% end %>
    </ul>
  </div>
</div>
