<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-theme='e' data-position="fixed" >
   <div class="ui-btn-left back-divider" >
      <a href="<%= url_for :action => :profile %>" data-direction="reverse">
        <img src="/public/images/back.png"/>
      </a>
    </div>
    <div class="ui-btn-right have-divider">
        <a href="<%=url_for :controller => :Settings, :action => :do_refresh %>">
            <img src="/public/images/reload.png"/>
        </a>
    </div> 
    <h1>Update Profile <%=@user.username.capitalize%> </h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :do_update %>">
      <% if @msg %>
          <div class="error-message"><%= @msg %></div>
      <% end %>

      <div data-role="fieldcontain">
        <input type="text" id="email" name="email" class="itemValue" placeholder="email" value="<%=@user.email%>"/>
          <br />
        <input type="text" id="first_name" name="first_name" class="itemValue" placeholder="first name" value="<%=@user.first_name%>"/>
          <br />
        <input type="text" id="last_name" name="last_name" class="itemValue" placeholder="last name" value="<%=@user.last_name%>"/>
          <br />
        <input type="text" id="address" name="address" class="itemValue" placeholder="address" value="<%=@user.address%>"/>
          <br />
        <input type="text" id="mobile" name="mobile" class="itemValue" placeholder="mobile phone" value="<%=@user.mobile%>"/>
      </div>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a"><button type="reset" data-theme='e'>Reset</button></div>
        <div class="ui-block-b"><button type="submit" data-theme='e'>Submit</a></div>
      </fieldset>
    </form>
  </div>

</div>
